<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115576635974-hl50ck1man1hb9v3il8uo5kl3f5kvgoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115576635974-hl50ck1man1hb9v3il8uo5kl3f5kvgoj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>115576635974-6pl9rtih2ohfd3etu3f7103qc7d0setn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBU24xLTuAEaLd7QYZEFIOyIXsjiHmVjM</string>
	<key>GCM_SENDER_ID</key>
	<string>115576635974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aisleaide</string>
	<key>PROJECT_ID</key>
	<string>aisleaide-sign-in</string>
	<key>STORAGE_BUCKET</key>
	<string>aisleaide-sign-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115576635974:ios:35174be77b5ba0f3b1c047</string>
</dict>
</plist>